@value primary from "../../styles/colors.css";

.form {
  margin: 0 auto;
  max-width: 600px;
}
.invitee-list{
  font-size: 18px;
  list-style: none
}
.item {
  cursor: pointer;
}
.item span {
  margin-left: 16px;
  vertical-align: bottom;
}
.button {
  background: primary;
  border-radius: 3px;
  font-weight: bold;
  color: #000;
}
.message {
  text-align: center;
}