@value primary from "../../styles/colors.css";
@value large from "../../styles/breakpoints.css"; 

.header {
  position:relative;
  background: black;
}
.bg{
  opacity: 0.6;
}
.heading {
  margin-top: 20px;
  position:absolute;
  top:0;
  left: 0;
  color: primary;
  font-size: 50px;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.heading small{
  /* text-transform: uppercase; */
  font-size: 30px;
  display: block;
}
@media large {
  .heading {
    font-size: 75px;
  }
  .heading small{
    /* text-transform: uppercase; */
    font-size: 40px;
    display: block;
  }
}
.center-image {
  width: 240px;
  padding: 30px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.golden-ring{
  position:absolute;
  top:0;
  left: 0;
}
.photo img {
  border-radius: 50%;
}

